body {
    background-color: #22223b;
}

.chat-window {
    padding: 15px;
    height: 100vh;
    overflow-y: scroll;
}

#chatbox {
    height: 80%;
    overflow-y: auto;
    border: 1px solid #9a8c98;
    padding: 10px;
    border-radius: 5px;
    background-color: #4a4e69;
}

.userMessage {
    text-align: right;
    color: #9a8c98;
}

.botMessage {
    color: #dce2bdff;
}
