body {
    background-color: #f5f5f5;
}

.chat-window {
    padding: 15px;
    height: 100vh;
    overflow-y: scroll;
}

#chatbox {
    height: 80%;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.userMessage {
    text-align: right;
    color: #007bff;
}

.botMessage {
    color: #6c757d;
}
