<!DOCTYPE html>
<html>
<head>
    <title>Carousel Chatbot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4 chat-window">
                <div id="chatbox" class="mb-3"></div>
                <form id="userInput" method="post">
                    <input id="textInput" type="text" name="msg" placeholder="Message" class="form-control">
                    <input id="buttonInput" type="submit" value="Send" class="btn btn-primary mt-3">
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/chat.js"></script>
</body>
</html>
